<!DOCTYPE html>
<html>
  <head>
    <title>OuterSpace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:errors] %>
        <p><%= flash[:errors].join(", ") %></p>
      <% end %>
      <a href="<%= new_system_url %>">Create New System</a>
        <a href="<%= new_ship_url %>">Create New Ship</a>

    <%= yield %>
  </body>
</html>
